div.transbox{margin:auto; width: 525px; 
       background-color:darkcyan; opacity: 0.9;}

body{ background-color: teal;}

fieldset{
    border: 1px solid;
    width: auto;
    margin:auto;
  }

#page_title, #heading, #section_title {font-weight: bold; font-style: italic; font-family: Verdana; }

.border{border-style: solid; border-color: black; border-width: thick;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: darkcyan;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: grey;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }